<section>
    <h1 class="p-4 text-3xl font-bold text-emerald-400">Create Post</h1>
    <p class="p-4 mb-4 font-medium bg-slate-100 border border-emerald-400 ">We welcome contributions from our readers! 
        If you have a passion for technology and want 
        to share your thoughts and experiences with our 
        community, we invite you to submit your own posts 
        to Tech-Spot. We believe that everyone has something 
        valuable to add to the conversation, and we look forward 
        to hearing from you. So don't hesitate to share your 
        knowledge and insights with us - together, we can create a 
        vibrant and engaging community focused on all things tech!</p>
</section>
<section class="border-4 border-emerald-400">
    <form id="newPostForm" class="p-4">                
        <input type="text" id="post_title" name="post_title" placeholder="Post title..." autocomplete="off"
            class="w-full p-4 outline-none font-bold text-xl" />
        <hr>
        <textarea type="text" name="post_body" id="post_body" rows="10" placeholder="Post content..."
            class="w-full p-4 outline-none"></textarea>
        <hr>
        <div class="flex justify-end gap-x-6 mt-4">
            {{!-- Clear input field and reset class on submit button --}}
            <button id="post-reset"
                class="px-4 py-2 shadow-lg border border-emerald-400 hover:bg-emerald-400 active:shadow-sm transition duration-300">Reset</button>
            {{!-- Disable button if input field is empty --}}
            <button type="submit" id="post-submit"
                class="pointer-events-none px-4 py-2 border bg-slate-200 border-emerald-400 hover:bg-emerald-400 transition duration-300">Create</button>
        </div>
    </form>
</section>

<script src="/js/createPost.js"></script>