<section class="flex justify-center">
    <div>
        <h2 class="text-2xl text-center font-bold pb-3">Login</h2>
        {{!-- Login form --}}
        <form class="form login-form flex flex-col gap-y-3">
            <input class="w-72 md:w-96 p-3 shadow-md border border-emerald-400" type="text"
                id="email-login" placeholder="e-mail" />
            <input class="w-72 md:w-96 p-3 shadow-md border border-emerald-400" type="password"
                id="password-login" placeholder="password" />
            <button
                class="p-3 shadow-md bg-emerald-400 hover:bg-emerald-300 transition duration-300 ease-in-out"
                type="submit">login</button>
        </form>
        <hr>
        <br>
        <h4 class="text-center">Not a member yet?</h4>
        <br>
        <a href="/signup"
            class="text-center p-3 border border-emerald-400 hover:border-emerald-300 ease-in-out transition duration-300 block">Sign
            up</a>
    </div>
</section>


<script src="/js/login.js"></script>