<section class="flex justify-center">
    <div>
        <h2 class="text-2xl text-center font-bold pb-3">Sign up</h2>
        {{!-- Sign up form --}}
        <form class="form signup-form flex flex-col gap-y-3">        
            <input class="w-96 p-3 rounded-lg shadow-md border border-emerald-400" type="text" id="name-signup" placeholder="name"/> 
            <input class="w-96 p-3 rounded-lg shadow-md border border-emerald-400" type="text" id="email-signup" placeholder="e-mail"/> 
            <input class="w-96 p-3 rounded-lg shadow-md border border-emerald-400" type="password" id="password-signup" placeholder="password" />
            <button class="p-3 rounded-lg shadow-md bg-emerald-400 hover:bg-emerald-300 transition duration-300 ease-in-out" type="submit">Sign up</button>
        </form>
        <hr>
        <br>
        <h4 class="text-center">Already a member?</h4>
        <br>
        <a href="/login" class="text-center p-3 border border-emerald-400 hover:border-emerald-300 ease-in-out transition duration-300 rounded-lg block">Log in</a>
    </div> 
</section>

<script src="/js/signup.js"></script>