<figure
    class="flex flex-col items-center justify-center p-8 text-center border border-emerald-400 bg-slate-100">
    <blockquote class="max-w-2xl mx-auto mb-4  lg:mb-8">
        <h3 class="text-xl font-bold ">
            Support / Contact
        </h3>
        <p class="my-4">
            As software developer, I are passionate about learning and always seek out new
            technologies to enhance our skills" Please feel free to checkout my
            <span class="text-emerald-400 font-bold"><a href="https://github.com/mnyzio" target="_blank">GitHub</a></span>
            profile.
        </p>
    </blockquote>
    <figcaption class="flex items-center justify-center space-x-3">
        <img class="rounded-full w-9 h-9" src="./img/MirekPhoto-small.jpg" alt="profile picture" />
        <div class="space-y-0.5 font-medium text-left">
            <div>
                Mirek Nyzio
            </div>
            <div class="text-sm">
                Student | Full Stack Developer
            </div>
        </div>
    </figcaption>
    <a class="mt-4" href="https://github.com/mnyzio" target="_blank">
        <i class="text-4xl devicon-github-original"></i>
    </a>
</figure>